@model UniversitySystemMvcApp.Models.StudentResult
@{
    ViewBag.Title = "SaveResult";

}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SaveResultForm" }))
    {
        <div style="padding-left: ; border: 0pt whitesmoke groove; border-radius: 5pt; margin-bottom:3% ;">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 3%; margin-bottom: 3%;">Save Result</button>

            <div class="container align-content-center" style="">
                <hr class="bg-white" />
                <div class="form-group">
                    @Html.LabelFor(x => x.StudentId, new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    @Html.DropDownListFor(x => x.StudentId,
                        new SelectList(ViewBag.StudentsReg, "Value", "Text"), new { @class = "form-control", @style = "font-size:large;font-weight:;color:black;background-color: white;" })
                    @Html.ValidationMessageFor(x => x.StudentId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Name", new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    @Html.TextBox("Name", Model, new { @readonly = "readonly", @class = "form-control", @style = "font-size:large;font-weight:;color:black;background-color: white;" })
                </div>
                <div class="form-group">
                    @Html.Label("Email", new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    @Html.TextBox("Email", Model, new { @readonly = "readonly", @class = "form-control", @style = "font-size:large;font-weight:;color:black;background-color: white;" })
                </div>
                <div class="form-group">
                    @Html.Label("DepartmentCode", new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    @Html.TextBox("DepartmentCode", Model, new { @readonly = "readonly", @class = "form-control", @style = "font-size:large;font-weight:;color:black;background-color: white;" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.GradeCode, new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    @Html.DropDownListFor(x => x.GradeCode,
                        new SelectList(ViewBag.Grades, "Value", "Text"), new { @class = "form-control", @style = "font-size:large;font-weight:;color:black;background-color: white;" })
                    @Html.ValidationMessageFor(x => x.GradeCode, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CourseCode, new { @style = "font-size:large;font-weight:bold;color:whitesmoke;" })
                    <select class="form-control" style="font-size:large;font-weight:;color:black;background-color: white;" id="CourseCode" name="CourseCode">
                        <option value="">--SELECT--</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.CourseCode, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Save Result</button>
                <hr class="bg-white" />
                <div class="form-group">
                    @if (ViewBag.Message != null)
                    {
                        <h5 class="text-success" style="font-weight: bold;font-size: large">@ViewBag.Message</h5>
                    }
                </div>
            </div>

        </div>

    }

    <script>
            $(document).ready(function () {
                $("#StudentId").change(function () {
                    var studentId = $("#StudentId").val();
                    $("#CourseCode").empty();
                    var json = { studentId: studentId };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudentByStudentId", "Course")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            //alert(data);

                            var name = data.Name;
                            var email = data.Email;
                            var dept = data.DepartmentCode;
                            $("#Name").val(name);
                            $("#Email").val(email);
                            $("#DepartmentCode").val(dept);
                        }
                    });
                });
            });
            $(document).ready(function () {

                $("#StudentId").change(function () {
                    var studentId = $("#StudentId").val();

                    var json = { studentId: studentId };
                    $("#CourseCode").empty();
                    $("#CourseCode").append('<option value="">--SELECT--</option>');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetCourseRegByStudentId", "Student")',

                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            $("#CourseCode").empty();
                            $("#CourseCode").append('<option value="">--SELECT--</option>');
                            $.each(data, function (key, value) {
                                $("#CourseCode").append('<option value=' + value.CourseCode + '>' + value.CourseName + '</option>');

                            });

                        }
                    });
                });
            });
    </script>